<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>LogIn Form</h1>

    {% if error%}
    <p style = "color:red">{{error}}</p>
    {% endif%}


    <form method="POST">
        Username: <input type="text" name="username"> <br> <br>
        Password: <input type="password" name="password"> <br> <br>
        <input type="submit" value="Login">
    </form>
</body>
</html>